@charset "utf-8";

/*全体*/

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    line-height: 1.5;
}

.container {
    margin-top: 60px;
    padding-bottom: 60px;
}


/*ユーティリティ*/

.u-ml--8 {
    margin-left: 8px;
}

.u-mt-40 {
    margin-top: 40px;
}


.u-float--left {
    float: left;
}
.u-float--right {
    float: right;
}




/*カレンダー*/
#calendar {
    text-align: center;
    width: 100%;
}

#calendar td:hover {
    cursor: pointer;
}

#calendar td.disabled:hover {
    cursor: not-allowed;
}


th, td {
  outline: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
/*日曜日*/
#calendar td:first-child {
    color: red;
}
/*土曜日*/
#calendar td:last-child {
    color: blue;
}
/*前後月の日付*/
#calendar td.disabled {
    color: #ccc;
}
/*本日*/
#calendar td.today {
    background-color: #D65E72;
    color: #fff;
}


#calendar td.marked::after {
  display: block;
  margin: 0 auto;
  content: "";
  width: 10px;
  height: 10px;
  background-color: orange;
  border-radius: 999px;
}